In [7]:
import pandas as pd
#df=pd.read_csv("")
weather_data = {
    'data':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature':[32,35,28,24,32,31],
    'windspeed':[6,7,2,7,4,2],
    'event':['Rain','Sunny','Snow','Snow','Rain','Sunny']
}
df=pd.DataFrame(weather_data)
df

       data  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [11]:
print(df.shape)
rows,columns=df.shape
print(rows)
print(columns)

(6, 4)
6
4

In [13]:
print(df.head())
print((df.head(2)))

       data  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
       data  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [14]:
print(df.tail())
print((df.tail(2)))

       data  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny
       data  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [15]:
df[2:5:2]

       data  temperature  windspeed event
2  1/3/2017           28          2  Snow
4  1/5/2017           32          4  Rain

In [19]:
df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [20]:
df.columns

Index(['data', 'temperature', 'windspeed', 'event'], dtype='object')

In [22]:
df.data

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: data, dtype: object

In [26]:
df[['event','data']]

   event      data
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [27]:
df[['event','data']].max()

event       Sunny
data     1/6/2017
dtype: object

In [28]:
df['temperature'].min()

24

In [29]:
df['temperature'].mean()

30.333333333333332

In [30]:
df['temperature'].std() #standard deviation

3.8297084310253524

In [31]:
df.describe()   # stats for the given dats

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [32]:
df[df.temperature>=32]

       data  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [33]:
df[df.temperature==df.temperature.max()]

       data  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [ ]:
stock
weather
with pd.ExcelWriter('')as writer:
    stocks.toexcel(writer,sheet_name="stocks")
    weather.toexcel(writer,sheet_name="weather")