In [86]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [87]:
df  =  pd.read_csv("customer.csv")
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [88]:
df  =  pd.read_csv("customer.csv").drop(columns=["age","gender"])
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

## Ordinal Encoding

In [89]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split

In [90]:
x_train,x_test,y_train,y_test=train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2)

In [91]:
x_train.head()

     review education
17     Poor        UG
3      Good        PG
47     Good        PG
49     Good        UG
8   Average        UG

In [92]:
# specify order
#manam order specify chayyakapothey adhey order specify chestudhi so manam chayyadam correct ga order base chesukoni
oc=OrdinalEncoder(categories=[["Poor","Average","Good"],["School","UG","PG"]])

In [93]:
x_train = oc.fit_transform(x_train)
x_test=oc.transform(x_test)

In [94]:
x_train

array([[0., 1.],
       [2., 2.],
       [2., 2.],
       [2., 1.],
       [1., 1.],
       [2., 0.],
       [2., 1.],
       [0., 0.],
       [1., 2.],
       [0., 2.],
       [1., 1.],
       [2., 2.],
       [0., 1.],
       [2., 1.],
       [2., 2.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [2., 1.],
       [1., 0.],
       [2., 2.],
       [1., 2.],
       [1., 1.],
       [0., 2.],
       [0., 2.],
       [2., 0.],
       [0., 0.],
       [2., 0.],
       [0., 2.],
       [2., 0.],
       [2., 0.],
       [0., 0.],
       [0., 2.],
       [0., 1.],
       [2., 0.],
       [1., 1.],
       [1., 0.],
       [0., 2.],
       [1., 2.],
       [2., 1.]])

In [95]:
oc.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [96]:
oc.feature_names_in_

array(['review', 'education'], dtype=object)

In [97]:
oc.n_features_in_

2

In [98]:
oc.inverse_transform(np.array([0,2]).reshape(1,2))

array([['Poor', 'PG']], dtype=object)

In [99]:
oc.get_feature_names_out()

array(['review', 'education'], dtype=object)

In [100]:
# we can handle unknow category as well
oc.transform(np.array(['Poor','college']).reshape(1,2))

/opt/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

ValueError: Found unknown categories ['college'] in column 1 during transform

In [101]:
oe = OrdinalEncoder(categories=[["Poor","Average","Good"],["School","UG","PG"]],
                    handle_unknown='use_encoded_value',
                    unknown_value=-1)
x_train,x_test,y_train,y_test=train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2)
x_train = oc.fit_transform(x_train)
oc.transform(np.array(['Poor','college']).reshape(1,2))

/opt/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

ValueError: Found unknown categories ['college'] in column 1 during transform

# handling infrequent categories

In [102]:
x=np.array([['dog']*5+['cat']*20+['sake']*3],dtype=object).T
x

array([['dog'],
       ['dog'],
       ['dog'],
       ['dog'],
       ['dog'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['sake'],
       ['sake'],
       ['sake']], dtype=object)

In [103]:
enc=OrdinalEncoder(min_frequency=3).fit(x)
# mac_categories

TypeError: OrdinalEncoder.__init__() got an unexpected keyword argument 'min_frequency'