In [54]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [55]:
df  =  pd.read_csv("customer.csv")
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [56]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2)

In [57]:
from sklearn.preprocessing import LabelEncoder

In [58]:
le=LabelEncoder()

In [59]:
y_train=le.fit_transform(y_train)
y_test=le.transform(y_test)

In [60]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [61]:
le.inverse_transform(np.array([0,1,1]))

array(['No', 'Yes', 'Yes'], dtype=object)

In [62]:
le.inverse_transform([0,1,1])

array(['No', 'Yes', 'Yes'], dtype=object)

# OneHotEncoder

In [63]:
cars = pd.read_csv("cars.csv").drop(columns=['km_driven','owner'])

cars.head()

     brand    fuel  selling_price
0   Maruti  Diesel         450000
1    Skoda  Diesel         370000
2    Honda  Petrol         158000
3  Hyundai  Diesel         225000
4   Maruti  Petrol         130000

In [64]:
x=cars.iloc[:,0:2]
y=cars.iloc[:,-1]

In [65]:
from sklearn.model_selection  import  train_test_split
x_train,y_train,x_test,y_test= train_test_split(x,y,test_size=0.2,random_state=42)

In [66]:
x_train['brand'].value_counts()

brand
Maruti           1953
Hyundai          1127
Mahindra          635
Tata              586
Toyota            391
Honda             369
Ford              320
Chevrolet         185
Renault           183
Volkswagen        154
BMW                96
Skoda              82
Nissan             62
Jaguar             59
Volvo              54
Datsun             48
Mercedes-Benz      43
Fiat               35
Audi               30
Jeep               26
Lexus              22
Mitsubishi         13
Force               6
Land                5
Kia                 4
Ambassador          3
MG                  3
Daewoo              3
Isuzu               2
Ashok               1
Peugeot             1
Opel                1
Name: count, dtype: int64

In [67]:
from sklearn.preprocessing import OneHotEncoder

In [68]:
onc=OneHotEncoder()

In [69]:
onc.fit_transform(x_train)

<6502x36 sparse matrix of type '<class 'numpy.float64'>'
	with 13004 stored elements in Compressed Sparse Row format>

In [70]:
x_train=onc.fit_transform(x_train).toarray()

In [71]:
x_train

array([[0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 1., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [72]:
onc.categories_

[array(['Ambassador', 'Ashok', 'Audi', 'BMW', 'Chevrolet', 'Daewoo',
        'Datsun', 'Fiat', 'Force', 'Ford', 'Honda', 'Hyundai', 'Isuzu',
        'Jaguar', 'Jeep', 'Kia', 'Land', 'Lexus', 'MG', 'Mahindra',
        'Maruti', 'Mercedes-Benz', 'Mitsubishi', 'Nissan', 'Opel',
        'Peugeot', 'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen',
        'Volvo'], dtype=object),
 array(['CNG', 'Diesel', 'LPG', 'Petrol'], dtype=object)]

In [73]:
onc.n_features_in_

2

In [79]:
onc.get_feature_names_out()

array(['x0_0.0', 'x0_1.0', 'x1_0.0', 'x1_1.0', 'x2_0.0', 'x2_1.0',
       'x3_0.0', 'x3_1.0', 'x4_0.0', 'x4_1.0', 'x5_0.0', 'x5_1.0',
       'x6_0.0', 'x6_1.0', 'x7_0.0', 'x7_1.0', 'x8_0.0', 'x8_1.0',
       'x9_0.0', 'x9_1.0', 'x10_0.0', 'x10_1.0', 'x11_0.0', 'x11_1.0',
       'x12_0.0', 'x12_1.0', 'x13_0.0', 'x13_1.0', 'x14_0.0', 'x14_1.0',
       'x15_0.0', 'x15_1.0', 'x16_0.0', 'x16_1.0', 'x17_0.0', 'x17_1.0',
       'x18_0.0', 'x18_1.0', 'x19_0.0', 'x19_1.0', 'x20_0.0', 'x20_1.0',
       'x21_0.0', 'x21_1.0', 'x22_0.0', 'x22_1.0', 'x23_0.0', 'x23_1.0',
       'x24_0.0', 'x24_1.0', 'x25_0.0', 'x25_1.0', 'x26_0.0', 'x26_1.0',
       'x27_0.0', 'x27_1.0', 'x28_0.0', 'x28_1.0', 'x29_0.0', 'x29_1.0',
       'x30_0.0', 'x30_1.0', 'x31_0.0', 'x31_1.0', 'x32_0.0', 'x32_1.0',
       'x33_0.0', 'x33_1.0', 'x34_0.0', 'x34_1.0', 'x35_0.0', 'x35_1.0'],
      dtype=object)

In [78]:
pd.DataFrame(onc.fit_transform(x_train),onc.get_feature_names_out())

ValueError: Shape of passed values is (6502, 1), indices imply (72, 1)